<h1>My Posts</h1>

<% if current_user.author? || current_user.admin? %>
  <%= link_to "New Post", new_post_path %>
<% end %>
<hr>

<% @posts.each do |post| %>

  <h3>
    <%= link_to post.title, post %>
  </h3>

  <p><%= truncate(post.body, length: 100) %></p>

<%= link_to "Show", post %>

<% if current_user.admin? || post.user == current_user %>
  |
  <%= link_to "Edit", edit_post_path(post) %>
  |
  <%= button_to "Delete", post, method: :delete %>
<% end %>

  <hr>

<% end %>